html, body {
    height: 40px;
}

div#mainPopup {
    width: 350px;
    max-height: 210px;
    overflow: auto;
}

span.filterName {
    overflow: hidden;
    width: inherit;
    display: inherit;
}

span.filterActions {
    width: 100%;
    display: block;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0 !important;
}

.item:hover {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color:#ffffff;
}

button.share-btn{
    display: none;
    font-size: 25px;
    float: right;
    margin: 2px 3px 0px;
    padding-top: 7px;
    color: #000000;
}

button.info-btn {
    display: block;
    font-size: 25px;
    float: right;
    margin: -7px 3px 0px;
    color: #000000;
    padding-top: 4px;
}

span.filterActions:hover > button.share-btn {
    display: block;
}

input.copyhelper {
    visibility: hidden;
}

ul#help-list{
    list-style-type: decimal;
}